/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* stylelint-enable at-rule-no-unknown */

html, body, #root {
  background: #f8fafc;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
